@charset "UTF-8";
/**home-menu**/
/**loader**/
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #f7f0ff;
  animation: loader 3s forwards;
  opacity: 0;
  object-fit: cover;
  z-index: 10000;
  /*
  @media screen and (min-width:365px)and(max-width:449px){
      width:95%;
      height:1430px;

  }
  */
}

.loader-spin {
  position: absolute;
  border-radius: 10%;
  border-top: 3rem solid #9356DC;
  border-bottom: 3rem solid #99E2D0;
  border-left: 3rem solid #FF79DA;
  border-right: 3rem solid #F6F6F6;
  opacity: 0;
  width: 10%;
  height: 10%;
  animation: spin 3s ease-in-out infinite;
  margin-top: 20px;
  z-index: 1;
}
@media screen and (max-width: 440px) {
  .loader-spin {
    width: 10%;
    border-top: 2rem solid #9356DC;
    border-bottom: 2rem solid #99E2D0;
    border-left: 2rem solid #FF79DA;
    border-right: 2rem solid #F6F6F6;
  }
}

/**animation-menu**/
.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 1.2s;
}

.delay-3 {
  animation-delay: 1.5s;
}

.delay-4 {
  animation-delay: 1.7s;
}

.delay-5 {
  animation-delay: 1.9s;
}

.delay-6 {
  animation-delay: 2.1s;
}

.delay-7 {
  animation-delay: 2.3s;
}

.delay-8 {
  animation-delay: 2.5s;
}

.delay-9 {
  animation-delay: 2.7s;
}

.menu-1 {
  animation: transition-duration 0.6s;
}

.menu-2 {
  animation: transition-duration 0.8s;
}

.menu-3 {
  animation: transition-duration 1s;
}

.logo,
h1,
h2,
h3 {
  font-family: "shrikhand", sans-serif;
}

body,
footer h3 {
  font-family: "roboto", sans-serif;
}

body a ul li {
  text-decoration: none;
  max-width: 1300px;
  margin: 0 auto;
}

main {
  display: block;
}

section {
  display: block;
  text-decoration: none;
}

li {
  list-style-type: none;
  text-decoration: none;
}

#cRestaurant, .filtreBouton {
  display: flex;
  flex-direction: row;
}

.container-menu .container-menu_mouvement-icon, .container-menu .container-menu_validation, .loader, .loader-spin {
  display: flex;
  align-items: center;
  justify-content: center;
}

#block, .containerM, .conteneurM {
  display: flex;
  align-items: center;
}

@keyframes spin {
  0% {
    opacity: 100%;
    transform: rotate(0deg);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes validation-coeur {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/**footer**/
footer {
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}

#conteneurFooterFull {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  flex-direction: column;
}

.logoFooter {
  filter: invert(100%);
}

.blockFooter {
  display: contents;
}

footer p {
  padding-bottom: 20px;
  font-size: 15px;
  padding-left: 0;
  font-size: large;
}

footer li {
  list-style-type: none;
  margin-bottom: 10px;
}

footer li:hover {
  text-decoration: none;
  cursor: pointer;
}

#imageF {
  width: 70%;
  display: flex;
}

.imageFooter {
  width: 30%;
  display: flex;
  color: white;
}

.footerTexte {
  color: #FFFF;
  text-decoration: none;
}

.conteneurHeader {
  flex-wrap: wrap;
  width: 100%;
}

#logoH {
  display: flex;
  justify-content: center;
}

.fas fa-arrow-left {
  font-size: 20px;
}

.retour {
  font-size: x-large;
  position: absolute;
  color: black;
}

.retour:hover {
  color: #99e2d0;
}

/**map**/
.conteneurM {
  position: relative;
  background-color: #F6F6F6;
}

#map {
  width: 100%;
  display: flex;
  justify-content: center;
  object-fit: cover;
  font-size: large;
  font-weight: bold;
}

#map2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: 15px;
}

/**presentation**/
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#presentation {
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px;
}

.pTexte1 {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.pTexte2 {
  font-weight: 300;
  margin: 1.5rem 0;
  font-size: x-large;
  margin-bottom: 40px;
}

.clique {
  display: flex;
  justify-content: center;
}

.bouton {
  justify-content: center;
  border: 0px solid black;
  border-radius: 2rem 2rem 2rem 2rem;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0 10px #8b8888;
  cursor: pointer;
  font-size: large;
  color: white;
  padding: 15px;
}
.bouton:hover {
  transform: scale(1.15);
  opacity: 0.9;
  box-shadow: #676767 0px 7px 20px 5px;
  cursor: pointer;
}

/**fonction-restaurants**/
.containerHome {
  max-width: 1300px;
  margin: auto;
  position: relative;
}

/**fonction**/
.fonction {
  padding: 2rem 1rem;
}

.fonctionTitle {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.number {
  position: absolute;
  color: #fff;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  border-radius: 1rem;
  font-size: 13px;
  font-weight: 500;
  padding-left: 9px;
  padding-right: 7px;
  z-index: 2;
}

#bouton2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  #bouton2 {
    flex-direction: column;
  }
}

/**degrader-et-ombre**/
.case-1:hover {
  background-color: #f7f0ff;
  cursor: pointer;
}

.case-2:hover {
  background-color: #f7f0ff;
  cursor: pointer;
}

.case-3:hover {
  background-color: #f7f0ff;
  cursor: pointer;
}

/**logo-phone-liste-magasin**/
.logoF {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  position: relative;
}

.font {
  margin-right: 1rem;
  color: #7e7e7e;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  li {
    font-size: small;
  }
}
@media screen and (max-width: 768px) {
  li {
    font-size: small;
  }
}

.click-me {
  text-decoration: none;
}

.filtreBouton {
  width: 100%;
  justify-content: space-around;
  position: relative;
  margin-left: 25px;
  border: 1px solid black;
  border-radius: 1rem 1rem 1rem 1rem;
  cursor: pointer;
}

.font {
  width: 20px;
  height: 20px;
  align-items: center;
  top: 2px;
}

.fa-store {
  color: #9356DC;
}

/**restaurant**/
.restaurant {
  background-color: #f2f2f2;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .restaurant {
    width: 100%;
  }
}

.containerR {
  max-width: 1300px;
  justify-content: center;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  margin: auto;
  margin-top: -40px;
}
@media screen and (max-width: 528px) {
  .containerR {
    max-width: 1000px;
  }
}

#cRestaurant {
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 2rem;
}

.conteneur {
  background-color: #ffff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 48%;
}
@media screen and (min-width: 848px) and (max-width: 1248px) {
  .conteneur {
    width: 47%;
  }
}
@media screen and (max-width: 847px) {
  .conteneur {
    width: 100%;
  }
}

.imageRestaurant {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}

.badge {
  background-color: #99E2D0;
  color: darkgreen;
  position: absolute;
  border-radius: 0.2rem;
  padding: 1rem;
  right: 1rem;
  top: 1rem;
  height: 15px;
  width: 20%;
  text-align: center;
}

.containerM {
  padding: 1rem;
  position: relative;
}

.containerF {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.nomR {
  margin: 0 0 0.25rem;
  font-size: 16px;
}

.plat {
  margin: 0;
}

.coeur {
  display: flex;
  width: 2.5rem;
  cursor: pointer;
  font-size: 25px;
}
.coeur .coeur-icon-vide {
  position: absolute;
  bottom: 10px;
  right: 0;
  font-size: 25px;
}
.coeur .coeur-icon-full {
  position: absolute;
  right: 0;
  bottom: 10px;
  opacity: 0;
  font-size: 25px;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  transition: 0.3s ease;
}
.coeur .coeur-icon-full:hover {
  opacity: 1;
}

.image {
  width: 100%;
  height: 650px;
}
@media screen and (max-width: 768px) {
  .image {
    width: 100%;
    height: auto;
  }
}

.container {
  max-width: 1300px;
  justify-content: center;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  margin: auto;
  margin-top: -40px;
}

/**block**/
#block {
  padding: 1rem 2rem 0 1rem;
  justify-content: space-between;
}

/**restaurant**/
.titreP {
  font-family: "Shrikhand,cursive";
}

.coeur {
  display: flex;
  width: 2.5rem;
  height: 47px;
  cursor: pointer;
  font-size: 25px;
  position: relative;
}
.coeur .coeur-icon-vide {
  position: absolute;
  bottom: 10px;
  right: 0;
  font-size: 25px;
}
.coeur .coeur-icon-full {
  position: absolute;
  right: 0;
  bottom: 10px;
  opacity: 0;
  font-size: 25px;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  transition: 0.3s ease;
}
.coeur .coeur-icon-full:hover {
  opacity: 1;
}

/**menu**/
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/**entrées-plats-desserts**/
.sous-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}
.sous-menu .sous-menu-title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 1rem;
  font-weight: normal;
}
.sous-menu .sous-menu-title::after {
  background-color: #99E2D0;
  bottom: 0;
  height: 4px;
  left: 0;
  position: absolute;
  width: 3rem;
  content: "";
}

.container-menu {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin: 1.3rem 1rem;
  max-width: 95%;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: Appear 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  transform: scale(1);
}
.container-menu .container-menu_containerT {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container-menu .container-menu_menuT {
  flex: 1;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container-menu .container-menu_description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container-menu .container-menu_prix {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.container-menu .container-menu_validation {
  background-color: #99e2d0;
  margin: -1rem -7.5rem -1rem 1rem;
  width: 6.5rem;
  transition-duration: 0.5s;
}
.container-menu:hover .container-menu_validation {
  margin-right: -17px;
  border-radius: 0 0.75rem 0.75rem 0;
}
.container-menu .container-menu_mouvement-icon {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100px;
  background-color: white;
  color: #99E2D0;
  transform: rotate(180deg);
  transition-duration: 0.7s;
}
.container-menu:hover .container-menu_mouvement-icon {
  transform: rotate(0);
}
.container-menu .container-menu_icon {
  color: #99E2D0;
}

/**bouton**/
.bouton {
  justify-content: center;
  border: 0px solid black;
  border-radius: 2rem 2rem 2rem 2rem;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0 10px #8b8888;
  cursor: pointer;
  font-size: large;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
}
.bouton:hover {
  transform: scale(1.15);
  opacity: 0.9;
  box-shadow: #676767 0px 7px 20px 5px;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
