@charset "UTF-8";
/**footer**/
footer {
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}

#conteneurFooterFull {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  flex-direction: column;
}

.logoFooter {
  filter: invert(100%);
  width: 15%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

footer p {
  padding-bottom: 20px;
  font-size: 15px;
  padding-left: 0;
  font-size: large;
}

footer li {
  list-style-type: none;
  margin-bottom: 10px;
}

footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}

#imageF {
  width: 70%;
  display: flex;
}

.imageFooter {
  width: 30%;
  display: flex;
  color: white;
}

.footerTexte {
  color: #FFFF;
}

.conteneurHeader {
  flex-wrap: wrap;
  width: 100%;
  margin-top: 60px;
}

#logoH {
  display: flex;
  justify-content: center;
}

.far fa-arrow-alt-circle-left {
  font-size: 20px;
}

.retour {
  font-size: xx-large;
  position: absolute;
}

.retour:hover {
  color: #99e2d0;
}

/**map**/
.conteneurM {
  position: relative;
  background-color: #F6F6F6;
}

#map {
  width: 100%;
  display: flex;
  justify-content: center;
  object-fit: cover;
  font-size: large;
  font-weight: bold;
}

#map2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: 15px;
}

/**presentation**/
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#presentation {
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px;
}

.pTexte1 {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.pTexte2 {
  font-weight: 300;
  margin: 1.5rem 0;
  font-size: x-large;
  margin-bottom: 40px;
}

.bouton {
  justify-content: center;
  border: 0px solid black;
  border-radius: 2rem 2rem 2rem 2rem;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0 10px #8b8888;
  cursor: pointer;
  font-size: large;
  color: white;
  padding: 15px;
}
.bouton:hover {
  background-color: #99E2D0;
}

/**fonction-restaurants**/
.containerHome {
  max-width: 1300px;
  margin: auto;
  position: relative;
}

/**fonction**/
.fonction {
  padding: 2rem 1rem;
}

.fonctionTitle {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#bouton2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#bouton2:hover {
  color: #FF79DA;
}

.logoF {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  position: relative;
}

.font {
  margin-right: 1rem;
  color: #7e7e7e;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  text-align: -webkit-match-parent;
}

.click-me {
  text-decoration: none;
}

.filtreBouton {
  width: 100%;
  justify-content: space-around;
  position: relative;
  margin-left: 25px;
  border: 1px solid black;
  border-radius: 1rem 1rem 1rem 1rem;
  cursor: pointer;
}

.font {
  width: 20px;
  height: 20px;
  align-items: center;
  top: 2px;
}

/**restaurant**/
.restaurant {
  background-color: #f2f2f2;
  padding: 2rem 1rem;
}

#cRestaurant {
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 2rem;
}

.conteneur {
  background-color: #ffff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 48%;
  /*
   &:active{
       transform:scaleX(1);
       animation-name:chargement-bar;
   }
   */
}

.imageRestaurant {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}

.badge {
  background-color: #99E2D0;
  color: darkgreen;
  position: absolute;
  border-radius: 0.2rem;
  padding: 1rem;
  right: 1rem;
  top: 1rem;
  height: 15px;
  width: 20%;
  text-align: center;
}

.containerM {
  padding: 1rem;
  position: relative;
}

.containerF {
  width: 100%;
  flex: 1;
}

.nomR {
  margin: 0 0 0.25rem;
  font-size: 16px;
}

.plat {
  margin: 0;
}

.coeur {
  width: 81%;
  background-color: initial;
  border: 0 solid transparent;
  padding: 0;
  justify-content: flex-end;
  cursor: pointer;
  position: relative;
}

.interaction1:hover {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.interaction2:hover {
  position: relative;
  opacity: 1;
  z-index: 1;
}

.image {
  width: 100%;
  height: 650px;
}

.container {
  max-width: 1300px;
  justify-content: center;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  margin: auto;
}

/**block**/
#block {
  padding: 1rem 2rem 0 1rem;
  justify-content: space-between;
}

/**restaurant**/
.titreP {
  font-family: "Shrikhand,cursive";
}

#coeur {
  height: 2rem;
  width: 2rem;
  background-color: initial;
  border: 0 solid transparent;
  padding: 0;
  cursor: pointer;
  position: relative;
  font-size: 35px;
}

/**menu**/
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/**entrées-plats-desserts**/
.sous-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 1 1rem;
}
.sous-menu .sous-menu-title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.sous-menu .sous-menu-title::after {
  background-color: #99E2D0;
  bottom: 0;
  height: 4px;
  left: 0;
  position: absolute;
  width: 3rem;
  content: "";
}

.container-menu {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin: 1.3rem 1rem;
  max-width: 95%;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  transform: scale(1);
}
.container-menu .container-menu_containerT {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container-menu .container-menu_menuT {
  flex: 1;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container-menu .container-menu_description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container-menu .container-menu_prix {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0;
}
.container-menu .container-menu_validation {
  background-color: #99e2d0;
  margin: -1rem -7.5rem -1rem 1rem;
  width: 6.5rem;
  transition-duration: 0.5s;
}
.container-menu:hover .container-menu_validation {
  margin-right: -9px;
}
.container-menu .container-menu_mouvement-icon {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100px;
  background-color: white;
  color: #99E2D0;
  transform: rotate(180deg);
  transition-duration: 0.7s;
}
.container-menu:hover .container-menu_mouvement-icon {
  transform: rotate(0);
}
.container-menu .container-menu_icon {
  color: #99E2D0;
}

/**bouton**/
.bouton {
  justify-content: center;
  border: 0px solid black;
  border-radius: 2rem 2rem 2rem 2rem;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0 10px #8b8888;
  cursor: pointer;
  font-size: large;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
}
.bouton:hover {
  background-color: #99E2D0;
}

/**loader**/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10000;
  object-fit: cover;
  animation: loader 1s ease-in-out 3s forwards;
}

.lettre {
  position: relative;
  color: #99E2D0;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: neon 2s linear infinite;
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  animation-delay: 1s;
}

.lettre:nth-child(11) {
  animation-delay: 1.1s;
}

.lettre:nth-child(12) {
  animation-delay: 1.2s;
}

.lettre:nth-child(13) {
  animation-delay: 1.3s;
}

/**animation-menu**/
.delay,
.delay-1,
.delay-2 {
  transition-timing-function: cubic-bezier(0.1s);
}

.delay-3,
.delay-4,
.delay-5 {
  transition-timing-function: cubic-bezier(0.3s);
}

.delay-6,
.delay-7,
.delay-8 {
  transition-timing-function: cubic-bezier(0.6s);
}

/**home-menu**/
.logo,
h1,
h2,
h3 {
  font-family: "shrikhand", sans-serif;
  src: url("shrikhand/Shrikhand-regular.ttf");
}

body,
footer h3 {
  font-family: "roboto", sans-serif;
  src: url("roboto/Roboto-regular.ttf");
}

body a {
  text-decoration: none;
}

main {
  display: block;
  margin: 0 auto;
}

section {
  display: block;
}

.containerE {
  animation: transition-duration 1s;
}

.containerP {
  animation: transition-duration 2s;
}

.containerD {
  animetion: transition-duration 4s;
}

.filtreBouton, #cRestaurant, .containerF {
  display: flex;
  flex-direction: row;
}

#coeur, .container-menu .container-menu_validation, .container-menu .container-menu_mouvement-icon, .loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteneurM, .containerM, .coeur, #block {
  display: flex;
  align-items: center;
}

@keyframes neon {
  0% {
    color: linear-gradient(#9356DC, #FF79DA);
    text-shadow: 0 0 7px black;
  }
  90% {
    color: #99E2D0;
    text-shadow: none;
  }
  100% {
    color: linear-gradient(#9356DC, #FF79DA);
    text-shadow: 0 0 7px black;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
