
   

/**map**/

   .conteneurM{
    position: relative;
   @extend %flex-align;
    box-shadow: inset 0px 3px 3px rgb(0 0 0 / 15%);
    background-color:#e6e6e6;
  
}

#map{
    width: 100%;
    display: flex;
    justify-content: center;
    object-fit: cover;
    font-size:large;
    font-weight:bold;
    
}

#map2{
    display: flex;
    flex-wrap: wrap;
    margin-top:30px;
    margin-right: 15px;
}


/**presentation**/

p{
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


#presentation{
    
    text-align:center;   
    background-color:$fond-grey;
    padding:30px;
}


.pTexte1{
    
    display:block;
    text-align: center;
    font-size:1.5rem;
    font-weight:bold;
    margin:0;
   
}

.pTexte2{
    font-weight:300;
    margin:1.5rem 0;
    font-size:x-large;
    margin-bottom:40px;
     
}
.clique{
    display:flex;
    justify-content:center;
}

@include button;


/**fonction-restaurants**/

.containerHome{
    max-width:1300px;
    margin:auto;
    position:relative;
}

/**fonction**/


.fonction{
    
    padding:2rem 1rem;   
    
    

}

.Title{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;


}

.bouton2{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

     @media screen and(max-width:768px){
        flex-direction:column;

     }

    .bouton2-number{
        position:absolute;
        color:#fff;
        background-color:$violet-primaire;
        display:flex;
        align-items:center;
        justify-content:center;
        left:-6px;
        border-radius:1rem;
        font-size:19px;
        font-weight:500;
        padding-left:6px;
        padding-right:6px;
        z-index:2;
    }



    .bouton2-logoF{
        padding: 1.5rem;
        margin: 1rem 0 1rem 0.75rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
        border-radius: 1.25rem;
        background-color:$fond-whiteSmoke;
        position: relative;
        &:hover{
            background-color:$ghost-white;
            i{ color:$violet-primaire;}
        }
    }

    li {
    
    text-decoration: none;
        @media screen and (min-width:768px) and (max-width:1024px){
          font-size:small;
        }
        @media screen and (max-width:768px){
          font-size:small;
        }
    }

   .bouton2-icon{
      width: 20px;
      height: 20px;
      align-items: center;
      top: 2px;      
    }
    
    
}
  
/**restaurant**/

.restaurant{
    
 
    background-color:$fond-grey;
    padding:1.5rem 1rem;
    box-sizing:border-box;
     @media screen and(max-width:768px){
        width:100%;
     }
    
}

.containerR{
    max-width:1300px;
    justify-content: center;
    border-radius: 2rem 2rem 0 0;
    background-color: $fond-whiteSmoke;
    position: relative;
    margin:auto;
    margin-top:-40px;

     @media screen and (max-width:528px){
       max-width:1000px;
     }
}


#cRestaurant{

    @extend %flex-direction;
    flex-wrap:wrap;
    column-gap: 3rem;
    row-gap: 2rem;
      
}

.conteneur{
    background-color: #ffff;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    width:48%;
    @media screen and (min-width:848px) and (max-width:1248px){
        width:47%;
    }
    @media screen and (max-width:847px){
        width:100%;
    }
}


.imageRestaurant{
    
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
    
}




.badge{
    background-color: $vert-tertiaire;
    color:darkgreen;
    position:absolute;
    border-radius:0.2rem;
    padding:1rem;  
    right:1rem;
    top:1rem;
    height:15px;
    width:20%;
    text-align: center;
   
}

.containerM{
    padding: 1rem;
    position: relative;
    @extend %flex-align;

  
}

.containerF{
   display:flex;
   flex-direction:column;
   width:100%;
   flex: 1;

}


.nomR{
    margin: 0 0 0.25rem;
    font-size:16px;
}

.plat{
    margin:0,
}
/**coeur**/


@include coeurH;



