

  
 

 .image{
    width:100%;
    height:500px;

   @media screen and(max-width:768px){
       width:100%;
       height:auto;

   }
 }
.container{ 
    max-width:1300px;
    justify-content: center;
    border-radius: 2rem 2rem 0 0;
    background-color: $fond-whiteSmoke;
    position: relative;
    margin:auto;
   margin-top:-40px;
}

/**block**/

#block{
    padding: 1rem 2rem 0 1rem;
    @extend %flex-align;
    justify-content: space-between;
    
}

/**restaurant**/

.titreP{
    font-family: "Shrikhand,cursive";

}

@include coeurM;

/**menu**/


.menu{
   display:grid;
  

   @media (min-width:64rem) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}   
/**entrées-plats-desserts**/

.sous-menu{
   max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
  

  .sous-menu-title{
    text-transform: uppercase;
    position: relative;
    padding-bottom: 1rem;
    font-weight: normal;
    
    &::after{
        background-color:$vert-tertiaire;
        bottom:0;
        height:4px;
        left:0;
        position:absolute;
        width:3rem;
        content:"";
    }
  } 

}



.container-menu{
    background-color: #fff;
    padding:1rem;
    display: flex;
    animation: itemAppear .6s;
    animation-duration:3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode:forwards;
    transform:scale(1);
    margin: 1.3rem 1rem;
    max-width: 95%;  
    border-radius:0.75rem;
    box-shadow:0.25rem 0.25rem 0.25rem rgb(0 0 0 / 10%);
    overflow:hidden;
    cursor:pointer;
    
    .container-menu_containerT{
       flex:1;
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;

   }
   .container-menu_menuT{
    
    margin:0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

 }
 .container-menu_description{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

 }

 .container-menu_prix{
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;

 }

 .container-menu_validation{
    background-color: $vert-tertiaire;
    margin: -1rem -7.5rem -1rem 1rem;
    width: 6.5rem;
    @extend %flex-align-justify;
    transition-duration: 0.5s;

 }
  &:hover .container-menu_validation{
      margin-right:-17px;
      border-radius:0 0.75rem 0.75rem 0;
  }
  .container-menu_mouvement-icon{
     @extend %flex-align-justify;
     width:1.6rem;
     height:1.6rem;
     border-radius:100px;
     background-color:white;
     color:$vert-tertiaire;
     transform:rotate(180deg);
     transition-duration:0.7s;

    
 }

 &:hover .container-menu_mouvement-icon{
    transform:rotate(0);
 }
 .container-menu_icon{
       color:$vert-tertiaire;
   }

}

/**bouton**/

.box-btn{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items:center;
    padding: 3rem 0;
}
@include button;
