

  
 

 .image{
    width:100%;
    height:650px;
}

.container{
    max-width:1300px;
    justify-content: center;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    position: relative;
    margin:auto;
}
/**block**/

#block{
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**restaurant**/

.titreP{
    font-family: "Shrikhand,cursive";

}

#coeur{
    height: 2rem;
    width: 2rem;
    background-color: initial;
    border: 0 solid transparent;
    padding: 0;
    @extend %flex-align-justify;
    cursor: pointer;
    position: relative;
    font-size:35px;

}

#coeur:hover{
    color: #9356DC;
}

.far fa-heart{

}

/**menu**/


.menu{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;

}

/**entrées-plats-desserts**/

.sous_menu{
    width: 30%;
    overflow: hidden;
    padding: 0 1rem;
}

.title{
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: 400;

}

.animation-0,
.animation-1,
.animation-2{
    transition-timing-function: cubic-bezier(0.1s);

}

.animation-3,
.animation-4,
.animation-5{
    transition-timing-function: cubic-bezier(0.3s);
    
}

.animation-6,
.animation-7,
.animation-8{
    transition-timing-function: cubic-bezier(0.6s);

}



.containerE,
.containerP,
.containerD{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    margin: 1rem 0;
    max-width: 80%;
    
    border-radius:0.75rem;
    box-shadow:0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow:hidden;
    cursor:pointer;
    animation: itemAppear .6s;
    animation-timing-function:cubic-bezier(.03,.80,.83,.67);
    animation-fill-mode:forwards;
    
}

.menuT{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.description{
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.prix{
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;

}

.validation{
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    @extend %flex-align-justify;
    transition-duration: .5s;
    

}
.mouvement{
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    @extend %flex-align-justify;
    border-radius: 100px;
    transform-origine:right;
    transition-duration: .5s;
    transform:scaleX(0);
    transition: transform 1000ms cubic-bezier(.32, 0, .07, 1);
    
}

.mouvement:hover{
    transform:scaleX(1);
}

/**bouton**/

.bouton{
    justify-content:center;
    border:0px solid black;
    border-radius:2rem 2rem 2rem 2rem;
    background:linear-gradient(#9356DC,#FF79DA);
    box-shadow:0 0 10px rgb(139, 136, 136);
    cursor: pointer; 
    font-size: large;
    color:white;
    padding:15px;
    margin-bottom:20px;

      &:hover{
          background-color:#99E2D0;
 }
}