
/**loader**/


   

.loader{
    
    
    position:fixed;
    width:20%;
    height:auto;
    border-top:20px solid #9356DC;
    
    border-bottom:20px solid #FF79DA;
    
    border-radius:50%;
    margin:auto;
    top:0; left:0; right:0; bottom:0;
    -webkit-animation:spin 3s linear forwards;
    -o-animation:spin 3s linear forwards;
    animation: spin 3s linear forwards;    
    z-index:10000;
    object-fit:cover;
      
}


/**animation-menu**/


.delay-1,
.delay-2,
.delay-3{
    animation-delay:0.1s;
}
.delay-4,
.delay-5,
.delay-6{
    animation-delay: 0.3s;
}
.delay-7,
.delay-8,
.delay-9{
    animation-delay:0.5s;
}

.menu-1{
    animation:transition-duration 1s;
}
.menu-2{
    animation:transition-duration 2s;
}
.menu-3{
    animation:transition-duration 4s;
}