
    /**general**/
    .logo,
    h1,
     h2,
      h3{
       font-family: 'shrikhand',sans-serif;
       
       
    }
   
    body,
    footer h3{
       font-family: 'roboto',sans-serif;
       
           
    }
   
    body a ul li{
       text-decoration: none;
       max-width:1300px;
       margin:0 auto;
       
    }
    
    main{
       
       display:block;
      
       
       
    }
   
    section{
       display:block;
       text-decoration:none;
     }
  
    li{
     list-style-type:none;
     text-decoration:none;
    }