
//loader//
@keyframes spin {
  0% {
      opacity:100%;
      transform: rotate(0deg);
  }
  50%{
    opacity:100%;
  }
  100% {
    opacity:0;
       transform: rotate(360deg);
      
  }
}



@keyframes loader{
    0%{
        opacity:100%;
    }
    50%{
      opacity:100%;
    }
    100%{
      opacity:0;
      visibility: hidden;

    }
}


//heart//
@keyframes validation-coeur{
    0%{
      transform:scale(0);
    }
    100%{
      transform:scale(1);
    }
}

@keyframes heart{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


//menu//
@keyframes Appear {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1);
  }
}
