
@keyframes neon{

    0%{
        color:linear-gradient(#9356DC,#FF79DA); 
        text-shadow: 0 0 7px black;   
    }
    90%{
        color:#99E2D0;
        text-shadow:none;
    }
    100%{
        color:linear-gradient(#9356DC,#FF79DA);
        text-shadow: 0 0 7px black;  
    }

}

@keyframes loader{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:0;
        visibility: hidden;
        height:0;
        width:0;
    }
}
@keyframes itemAppear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes heart{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}