
@keyframes neon{

    0%{
        color:linear-gradient(#9356DC,#FF79DA); 
        text-shadow: 0 0 7px black;   
    }
    90%{
        color:#99E2D0;
        text-shadow:none;
    }
    100%{
        color:linear-gradient(#9356DC,#FF79DA);
        text-shadow: 0 0 7px black;  
    }

}

@keyframes loader{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:0;
    }
}
/*
@keyframes transition-duration{
    from{
        opacity:0;
        transform:rotateX(0);

    }
    to{
        opacity:1;
        transform:rotateX(-10deg);
    }
}
@keyframes transition-timing-function{
    from{
        opacity:0;
        transform:rotateX(1);
        
    }
    to{
        opacity:1;
        transform:rotate(-10deg);
        
    }
}
@keyframes translate{
    from{
        opactity:0;
        
    }
}
*/