
/**home-menu**/
@mixin Header{
    .conteneurHeader{
    
        flex-wrap: wrap;
        width:100%;
       
    }
    
    #logoH{
        
        display: flex;
        justify-content: center; 
     
    }
    
    
    .fas fa-arrow-left{
        font-size:20px;
        
       
    }
    .retour{
        font-size:x-large;
        position:absolute;
        color:black;
    }
    
    
}
 
@mixin conteneurFooter{
    
    footer{
        width:100%;
        position:relative;
        background-color: black;
        color:white;
         
     }
     
     #conteneurFooterFull{
         
        display:flex;
        margin:0 auto;
        padding:15px;
        flex-direction:column;
         
         
     }
     
     .logoFooter{
        filter:invert(100%);
        
         
     }
     .blockFooter{
        display:contents;
     }
     footer p {
        padding-bottom: 20px;
        font-size: 15px;
        padding-left: 0;
        font-size:large;
         
      }
     
       footer li{
        list-style-type: none;
        margin-bottom: 10px;
         
      }
       
       footer li:hover{
        text-decoration: none;
        cursor: pointer;
      }
     
     #imageF{
        width:70%;
        display:flex;
           
     }
     
     .imageFooter{
        width:30%;
        display:flex;
        color:white;
         
     }
     
     .footerTexte{
        color:#FFFF;
        text-decoration:none;
     }
     
    
}

@mixin button{
 
    .bouton{
    
        justify-content:center;
        border:0px solid black;
        border-radius:2rem 2rem 2rem 2rem;
        background:linear-gradient($violet-primaire,$rose-secondaire);
        box-shadow:0 0 10px rgb(139, 136, 136);
        cursor: pointer; 
        font-size: large;
        color:white;
        padding:15px;
        margin-bottom:20px;
    
          &:hover{
              transform:scale(1.15);   
              opacity:0.9;     
              box-shadow:#676767 0px 7px 20px 5px;
              cursor:pointer;
     }
    }
}


@mixin coeurM{
    .coeur{
        display:flex;
        width: 2.5rem;
        height:47px;
        cursor: pointer;
        font-size:25px;
        position:relative;
        
        
    
          .coeur-icon-vide{
             
              position: absolute;
              bottom:10px;
              right:0;
              font-size:25px;
          }

          .coeur-icon-full{
            
              position:absolute;
              right:0;
              bottom:10px;
              opacity:0;
              font-size:25px;         
              background-size:100%;
              -webkit-background-clip:text;
              -webkit-text-fill-color:transparent;
              background-image:linear-gradient(to bottom, $rose-secondaire, $violet-primaire);
              transition:0.3s ease;
              &:hover{
                  opacity:1;
                  
              }     
            
           }
    
    }
}

@mixin coeurH{
    .coeur{
        display:flex;
        width: 2.5rem;
        cursor: pointer;
        font-size:25px;
        
        
    
          .coeur-icon-vide{
             
              position: absolute;
              bottom:10px;
              right:0;
              font-size:25px;
          }
          
          .coeur-icon-full{
            
              position:absolute;
              right:0;
              bottom:10px;
              opacity:0;
              font-size:25px;
              background-size:100%;
              -webkit-background-clip:text;
              -webkit-text-fill-color:transparent;
              background-image:linear-gradient(to bottom, $rose-secondaire, $violet-primaire);
              transition:0.3s ease;
              &:hover{
                  opacity:1;
                  
              }     
            
           }
    
    }

}




