
/**home-menu**/
@mixin Header{
    .conteneurHeader{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        margin-top:60px;
    }
    
    #logoH{
        width:100%;
        border-top:rgb(152, 182, 211);
        display: flex;
        justify-content: center;
        object-fit: cover;
     
    }
    
    #logo{
        width:15%;
       
    }
    
    .conteneurM{
        position: relative;
        display: flex;
        align-items: center;
        background-color:#E5E5E5;
      
    }
    
    #map{
        width: 100%;
        display: flex;
        justify-content: center;
        object-fit: cover;
        font-size:large;
        font-weight:bold;
        
    }
    
    #map2{
        display: flex;
        flex-wrap: wrap;
        margin-top:30px;
        margin-right: 15px;
    }
}
 
@mixin conteneurFooter{
    
    footer{
        width:100%;   
       position:relative;
        background-color: black;
        color:white;
        
        
    }
    #conteneurFooterFull{
        width:50%;
        display:flex;
        margin:0 auto;
        padding:15px;
        flex-direction:column;
        
    }
    .logoFooter{
        width:15%;
        flex-direction:column;
        display:flex;
        align-items:center;
    }
    footer p {
        padding-bottom: 20px;
        font-size: 15px;
        padding-left: 0;
        font-size:large;
     }
    
     
      
      
      footer li{
        list-style-type: none;
        margin-bottom: 10px;
     }
      
      
     
      
      footer li:hover{
        text-decoration: underline;
        cursor: pointer;
     }
    #imageF{
        width:70%;
        display:flex;
        
        
    }
    .imageFooter{
        width:30%;
        display:flex;
        color:white;
    }
    
}

@mixin button{
 
    justify-content:center;
    border:0px solid black;
    border-radius:2rem 2rem 2rem 2rem;
    background:linear-gradient($primaire,$secondaire);
    box-shadow:0 0 10px rgb(139, 136, 136);
    cursor: pointer; 
    font-size: large;
    color:white;
    padding:15px;
    
    .bouton:hover{
        transform:scale(1.15);
        background:linear-gradient(to left bouton, #FFACE8, #AE80E5);
        box-shadow:#676767 0px 7px 40px 5px,
     }
 
  
}







