//couleur principal//
$violet-primaire:#9356DC;
$rose-secondaire:#FF79DA;
$vert-tertiaire:#99E2D0;

//couleur loader et util//
$load-mint:#15DEA5;
$bleu-navy:#022F40;
$texte-blanc:#ffff;
$fond-black:#000000;
$fond-whiteSmoke:#F6F6F6;
$fond-grey:#F2F2F2;
$ghost-white:#F7F0FF;

